<% include ./partials/header %>
<body>
<div class="container">
    <header class="jumbotron">
                <div class="container">
                    <center><h1>Categorical Comparision <i class="fas fa-hand-holding-usd"></i></h1></center>
                    <center><p>Track Your Daily Expenses Using this Web App</p></center>
                    <center><p>
                    <a class="btn btn-primary btn-large" href="/home/<%=currentUser.id%>/newCategory">Add New Category</a>
                </p></center>
            <center><h4 style="color:green">Hello <%=currentUser.username%></h4></center>
        </div>
    </header>
    <div class="row">
        <div class="col-md-6">
            <canvas id="myRadarChart"></canvas>  
        </div>
    </div>
</div>
<script>
var ctx1 = document.getElementById("myRadarChart").getContext('2d');
    var myRadarChart = new Chart(ctx1,{
        type:"radar",
        data:{
            labels:<%- JSON.stringify(categoryNameToday)%>,
            datasets:[{
                label:"My First Dataset",
                data:[<%=categoryAmountToday%>],
                fill:true,
                backgroundColor:"rgba(255, 99, 132, 0.2)",
                borderColor:"rgb(255, 99, 132)",
                pointBackgroundColor:"rgb(255, 99, 132)",
                pointBorderColor:"#fff",
                pointHoverBackgroundColor:"#fff",
                pointHoverBorderColor:"rgb(255, 99, 132)"
            },
                {
                    label:"My Second Dataset",
                    data:[<%=categoryAmountYesterday%>],
                    fill:true,
                    backgroundColor:"rgba(54, 162, 235, 0.2)",
                    borderColor:"rgb(54, 162, 235)",
                    pointBackgroundColor:"rgb(54, 162, 235)",
                    pointBorderColor:"#fff",
                    pointHoverBackgroundColor:"#fff",
                    pointHoverBorderColor:"rgb(54, 162, 235)"}
                    ]},
                    options:{
                        elements:{
                            line:{
                                tension:0,
                                borderWidth:3
                            }
                        }
                    }
    });
</script>
</body>
<% include ./partials/footer %>