<% include ./partials/header %>
<body>
    <br>
    <br>
    <div class="container">
        <div class="container">
            <header class="jumbotron">
                <div class="container">
                    <h1>View all Your Transaction History On this Page!!</h1>
                        <p>Track Your Daily Expenses Using this simple Web Application!!!</p>
                        <h4>Hello <%=currentUser.username%></h4>
                </div>
            </header>
        </div>
        <div class="row justify-content-md-center">
        <div class="col-md-6">
            <div>
                <button type="button" class="btn btn-success" onclick="drawpie()">Success</button>
                <button type="button" class="btn btn-danger" onclick="drawbar()">Danger</button>
            </div>
            <canvas id="myChart"></canvas>  
        </div>
        <div class="col col-lg-6">
            2 of 2
            <br><br>
            <table style= "border: 2px, margin:25px auto">
                <tr>
                    <th>User</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Date</td>
                </tr>
                <% allTime.forEach(function(transaction){ %>
                <tr>     
                    <td><%=transaction.user.username %></td>       
                    <td><%=transaction.amount %></td>
                    <td><%=transaction.category.name %></td>
                    <td><%=transaction.date %></td>
                </tr>
                <% }); %>
            </table>   
            <br><br>
        </div>
    </div>
    </div>
<script>
var ctx = document.getElementById("myChart").getContext('2d');

function drawbar(){
var myBarChart = new Chart(ctx,{
    type: 'bar',
    maintainAspectRatio:this.maintainAspectRatio,
    data : {
    labels: <%- JSON.stringify(categoryName)%>,
    datasets: [{
        data: [<%=categoryAmount%>],
        backgroundColor: palette('tol', <%=categoryAmount.length%>).map((hex) => '#'+hex)
    }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
    
}

function drawpie(){
   var myPieChart = new Chart(ctx,{
    type: 'pie',
    maintainAspectRatio:this.maintainAspectRatio,
    data : {
    datasets: [{
        data: [<%=categoryAmount%>],
        backgroundColor: palette('tol', <%=categoryAmount.length%>).map((hex) => '#'+hex)
    }],
    labels: <%- JSON.stringify(categoryName)%>,
    }
}); 
}
</script>
</body>
<% include ./partials/footer %>