<% include ./partials/header %>
<body>
    <br>
    <br>
    <div class="container">
        <div class="container">
            <header class="jumbotron">
                <div class="container">
                    <center><h1>View Transaction History Here <i class="fas fa-money-check-alt"></i></h1></center>
                        <center><p>Track Your Daily Expenses Using this Web App</p></center>
                        <center><h4 style="color:green">Hello <%=currentUser.username%></h4></center>
                        <center><select style="color:red" class="btn btn-Primary" type="button" id="timeSpan" onchange="myFunction()">
                            <option selected disabled hidden>Choose an option</option>
                            <option id="Today" value="Today">Today</option>
                            <option id="Yesterday" value="Yesterday">Yesterday</option>
                            <option id="All Time" value="All Time">All Time</option>
                        </select></center>
                </div>
            </header>
        </div>
        <div class="row justify-content-md-center">
        <div class="col-md-6">
            <canvas id="myBarChart"></canvas>
            <br><br>
            <canvas id="myLineChart"></canvas>  
        </div>
        <div class="col col-lg-6">
            <!--<div class="dropdown">-->
            <!--  <button class="btn btn-secondary dropdown-toggle" type="button" id="timeSpan" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--    TimeLine-->
            <!--  </button>-->
            <!--  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">-->
            <!--    <button class="dropdown-item" type="button" id="Today" value="Today">Today</button>-->
            <!--    <button class="dropdown-item" type="button" id="Yesterday" value="Yesterday">Yesterday</button>-->
            <!--    <button class="dropdown-item" type="button" id="All Time" value="All Time">All Time</button>-->
            <!--  </div>-->
            <!--</div>-->
            <div id='div1'></div>
            <script>
                function myFunction(){
                    var x = document.getElementById("timeSpan").value
                    if(x==="Today"){
                        document.getElementById("div1").innerHTML = `<table class="table table-striped">
                        <thead class="thead-dark"><tr>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Amount</th>
                        </tr> </thead>
                        <% for(var i = 0; i < categoryAmountTodayRaw.length; i++){%>
                        <tr>
                            <td><%=categoryNameTodayRaw[i]%></td>
                            <td><%=categoryDesTodayRaw[i]%></td>
                            <td><%=categoryAmountTodayRaw[i]%></td>
                        </tr>
                        <% } %>
                        </table>`; 
                        drawForToday();
                    }
                    else if(x==="Yesterday"){
                        document.getElementById("div1").innerHTML = `<table class="table table-striped">
                        <thead class="thead-dark"><tr>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Amount</th>
                        </tr></thead>
                        <% for(var i = 0; i< categoryAmountYesterdayRaw.length; i++){%>
                        <tr>
                            <td><%=categoryNameYesterdayRaw[i]%></td>
                            <td><%=categoryDesTodayRaw[i]%></td>
                            <td><%=categoryAmountYesterdayRaw[i]%></td>
                        </tr>
                        <% } %>
                        </table>`; 
                        drawForYesterday();
                    }
                    else if(x==="All Time"){
                         document.getElementById("div1").innerHTML = `<table class="table table-striped">
                        <thead class="thead-dark"><tr>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Amount</th>
                        </tr></thead> 
                        <% for(var i = 0; i< allTime.length; i++){%>
                        <tr>
                            <td><%=allTime[i].category.name%></td>
                            <td><%=allTime[i].description%></td>
                            <td><%=allTime[i].amount%></td>
                        </tr>
                        <% } %>
                        </table>`; 
                        drawForAll_Time();
                    }
                }
            </script>
            <br><br>
        </div>
    </div>
</div>
<script>
var ctx1 = document.getElementById("myBarChart").getContext('2d');
var ctx2 = document.getElementById("myLineChart").getContext('2d');
    
function drawForToday(){
    var myBarChart = new Chart(ctx1,{
    type: 'bar',
    maintainAspectRatio:this.maintainAspectRatio,
    data : {
    labels: <%- JSON.stringify(categoryNameToday)%>,
    datasets: [{
        label: 'Category',
        data: [<%=categoryAmountToday%>],
        backgroundColor: palette('tol', <%=categoryAmount.length%>).map((hex) => '#'+hex)
    }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

var myLineChart = new Chart(ctx2,{
    type:"line",
    data:{
        labels:<%- JSON.stringify(categoryNameToday) %>,
        datasets:[{
            label:"My First Dataset",
            data:[<%=categoryAmountToday%>],
            fill:false,
            borderColor:"rgb(75, 192, 192)",
            lineTension:0.1
        }
    ]},
});
}
function drawForYesterday(){
    var myBarChart = new Chart(ctx1,{
    type: 'bar',
    maintainAspectRatio:this.maintainAspectRatio,
    data : {
    labels: <%- JSON.stringify(categoryNameYesterday)%>,
    datasets: [{
        label: 'Category',
        data: [<%=categoryAmountYesterday%>],
        backgroundColor: palette('tol', <%=categoryAmountYesterday.length%>).map((hex) => '#'+hex)
    }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

var myLineChart = new Chart(ctx2,{
    type:'line',
    data:{
        labels:<%- JSON.stringify(categoryNameYesterday)%>,
        datasets:[{
            label:"My First Dataset",
            data:[<%=categoryAmountYesterday%>],
            fill:false,
            borderColor:"rgb(75, 192, 192)",
            lineTension:0.1
        }
    ]},
});
}
function drawForAll_Time(){
    var myBarChart = new Chart(ctx1,{
    type: 'bar',
    maintainAspectRatio:this.maintainAspectRatio,
    data : {
    labels: <%- JSON.stringify(categoryName)%>,
    datasets: [{
        label: 'Category',
        data: [<%=categoryAmount%>],
        backgroundColor: palette('tol', <%=categoryAmount.length%>).map((hex) => '#'+hex)
    }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

var myLineChart = new Chart(ctx2,{
    type:"line",
    data:{
        labels:<%- JSON.stringify(categoryName)%>,
        datasets:[{
            label:"My First Dataset",
            data:[<%=categoryAmount%>],
            fill:false,
            borderColor:"rgb(75, 192, 192)",
            lineTension:0.1
        }
    ]},
});

}
</script>
</body>
<% include ./partials/footer %>