<% include ./partials/header %>
<body>
    <br>
    <br>
    <div class="container">
        <div class="container">
            <header class="jumbotron">
                <div class="container">
                    <center><h1>Welcome To WalletMan <i class="fas fa-hand-holding-usd"></i></h1></center>
                        <center><p>Track Your Daily Expenses Using this Web App</p></center>
                        <center><p>
                            <a class="btn btn-primary btn-large" href="/home/<%=currentUser.id%>/new">Add New Transaction</a>
                        </p></center>
                        <center><h4 style="color:green">Hello <%=currentUser.username%></h4></center>
                </div>
            </header>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-lg-4">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <center>
                <h5 class="card-title">Expenses Summary</h5>
                <h6 class="card-subtitle mb-2 text-muted">Total</h6>
                <h5 style= "color: red" class="card-text"><%=totalAmount%></h5>
                <p>Max Spent On</p>
                <h5 style= "color: red"><%=maxCategoryName%></h5>
                <h5 style="color: blue" ><%=maxAmount%></h5>
                </center>
              </div>
            </div>
            </div>
        <div class="col-md-4">
            <canvas id="myChart"></canvas>  
        </div>
        <div class="col col-lg-4">
            <table class="table table-striped" style= "border: 2px, margin:25px auto">
                <thead class="thead-dark"><tr>
                    <th>Category</th>
                    <th>Amount</th>
                </tr></thead>
                <% transactionList.forEach(function(transaction){ %>
                <tr>     
                    <td><%=transaction.category.name %></td>
                    <td><%=transaction.amount %></td>
                </tr>
                <% }); %>
            </table>   
            <br><br>
        </div>
    </div>
    </div>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myDoughnutChart = new Chart(ctx,{
    type: 'doughnut',
    maintainAspectRatio:this.maintainAspectRatio,
    data : {
    datasets: [{
        data: [<%=categoryAmount%>],
        backgroundColor: palette('tol', <%=categoryAmount.length%>).map((hex) => '#'+hex)
    }],
    labels: <%- JSON.stringify(categoryName)%>,
    }
});
</script>
</body>
<% include ./partials/footer %>