<% include ./partials/header %>
<body>
    <br>
    <br>
    <div class="container">
        <div class="container">
            <header class="jumbotron">
                <div class="container">
                    <h1>Welcome To WalletMan!</h1>
                        <p>Track Your Daily Expenses Using this simple Web Applicarion!!!</p>
                        <p>
                            <a class="btn btn-primary btn-large" href="/home/<%=currentUser.id%>/new">Add New Transaction</a>
                        </p>
                        <h4>Hello <%=currentUser.username%></h4>
                </div>
            </header>
        </div>
        <div class="row justify-content-md-center">
            <div class="col col-lg-2">
                1 of 3
                <h3>You spent max on <%=maxCategoryName%> : <%=maxAmount%></h3>
            </div>
        <div class="col-md-auto">
            Variable width content
            <canvas id="myChart"></canvas>  
        </div>
        <div class="col col-lg-2">
            3 of 3
            <br><br>
            <table style= "border: 2px, margin:25px auto">
                <tr>
                    <th>User</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Date</td>
                </tr>
                <% transactionList.forEach(function(transaction){ %>
                <tr>     
                    <td><%=transaction.user.username %></td>       
                    <td><%=transaction.amount %></td>
                    <td><%=transaction.category.name %></td>
                    <td><%=transaction.date %></td>
                </tr>
                <% }); %>
            </table>   
            <br><br>
        </div>
    </div>
    </div>
</body>
<script>
var ctx = document.getElementById("myChart").getContext('2d');

var myPieChart = new Chart(ctx,{
    type: 'pie',
    maintainAspectRatio:this.maintainAspectRatio,
    data : {
    datasets: [{
        data: [<%=categoryAmount%>],
        backgroundColor: palette('tol', <%=categoryAmount.length%>).map((hex) => '#'+hex)
    }],
    labels: <%- JSON.stringify(categoryName)%>,
    }
});
</script>
<% include ./partials/footer %>